h1,
h1 *,
.quote {
    font-family: 'Libre Baskerville', serif;
}

* {
    font-family: 'Montserrat', serif;
}

/* #top {
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0;
}

#network {
    height: 100%;
    width: 100%;
    position: absolute;
} */

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

#overview {
    color: white;
    background: #222;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-left: solid 10px #F57C00;
    justify-content: center;
    height: 350px;
    padding: 50px;
}

#overview p{
    font-size: 18px;
}

#vis-mis {
    height: 500px;
    position: relative;
    overflow: hidden; 
}

.fa {
    color: white;
    cursor: pointer;
    transition: all .25s;
}

.fa.disabled {
    color: transparent;
    cursor: default;
}

.slides {
    width: 100%;
    position: absolute;
    top: 0;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 1s;
}

.slide {
    width: 100%;
    padding: 70px;
    padding-bottom: 100px;
    height: 500px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -10;
}

.slide h1 {
    font-weight: 700;
    font-size: 75px;
    margin: 0;
}

.slide .slide-content {
    font-family: 'Montserrat', serif;
    font-size: 20px;
    /* align-self: flex-end; */
    width: 75%;
    text-align: justify;
}

ol {
    padding-left: 0;
}

.background {
    position: absolute;
    top: 0;
    z-index: -10;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image ease-in-out 1s;
}

#clients {
    padding: 50px 20px;
}

.items {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.item {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 20px;
    padding: 10px 20px;
    background: #222;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: default;
    text-align:center;
}

.item:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #overview{
        height: auto;
        padding: 50px 20px;
    }
    #overview container{
        margin: 0;
        padding: 0;
    }
    #vis-mis{
        height: 100vh;
    }
    .slide{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .slide h1{
        margin-bottom: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #overview{
        height: auto;
        border: none;
        border-top: solid 10px #F57C00;
        text-align: justify;
    }
    #overview container{
        padding: 0;
    }
    #overview p{
        font-size: 15px;
    }
    #vis-mis p, #vis-mis li{
        font-size: 15px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .slide{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: 800px; */
        padding: 10px;
    }
    #overview p{
        font-size: 14px;
    }
    #vis-mis h1{
        font-size: 50px;
    }
    #vis-mis p, #vis-mis li{
        text-align: left;
    }
    .item{
        width: 100%;
        margin: 10px 0;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
}    
