.footer {
    width: 100%;
    color: white;
    background: #37474F;
}

.footer-top {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    /* grid-template-rows: 1fr; */
    grid-template-areas: "nav details connect form";
    padding: 50px;
}

.footer-top>div {
    margin: 20px;
}

.footer-nav {
    grid-area: nav;
}

.footer-form {
    grid-area: form;
}

.footer-form form {
    display: flex;
    flex-wrap: wrap;
}

.footer-form form input[type="text"] {
    padding: 5px;
    flex: 1;
    margin-right: 10px;
    border: none;
    margin-bottom: 5px;
}
.footer-form form input[type="submit"] {
    padding: 5px 10px; background: #F57C00; border: none; margin-bottom: 5px
}

.footer-connect {
    grid-area: connect;
}

.footer-connect tr:nth-child(n+2) td:first-child {
    text-align: center;
    padding-right: 5px;
}

.footer-details {
    grid-area: details;
    /* display: flex; */
    /* align-items: center; */
}

.footer-copyright {
    background: #263238;
    color: white;
    font-size: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a {
    color: white;
    cursor: pointer;
}

.footer-nav a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .footer-top {
        /* width: 100%; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: "nav details connect" "form form form";
        padding: 50px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .footer-top {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "nav" "details" "connect" "form";
        padding: 50px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .footer-top {
        padding: 25px;
    }
    .footer-form form{
        display: block;
    }
    .footer-form form input{
        width: 100%;
    }
}