
h1,
h1 *,
.quote {
    font-family: 'Libre Baskerville', serif;
}

* {
    font-family: 'Montserrat', serif;
}

a{
	color: inherit;
	text-decoration:none !important;
}

#top {
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0;
}

#network {
    height: 100%;
    width: 100%;
    position: absolute;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.about {

    text-align: center;
    justify-content: center;
    background-color: #1a2126;
    height: auto;
    padding: 100px 50px;
    color: white;
    border-right: 8px solid #F57C00;
}

.about h1 {
    margin: 0;
}

.about p {
    margin: 50px 0px 50px 0px;
}

.about a{
    text-decoration:none;
    color:white;
    font-size:18px;
    border:1px solid white;
    padding: 8px 15px;
    font-weight:lighter;
    background-color:#1a2126;

    -webkit-transition:color ease-in-out 0.5s, background-color ease-in-out 0.5s;
    -moz-transition:color ease-in-out 0.5s, background-color ease-in-out 0.5s;
    transition:color ease-in-out 0.5s, background-color ease-in-out 0.5s;
    

}

.about a:hover{
    -webkit-transition:color ease-in-out 0.5s, background-color ease-in-out 0.5s;
    -moz-transition:color ease-in-out 0.5s, background-color ease-in-out 0.5s;
    transition:color ease-in-out 0.5s, background-color ease-in-out 0.5s;
    background-color:white;
    color:#1a2126;
}

.product {
    position: relative;
    color: white;
    text-align: center;
    background: url("img/slideshow/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    height: auto;
    padding: 100px 50px;
}

.product-intro {
    z-index: 15;
    position: relative;
}

.product-intro h1{
    font-size:45px;
    margin-bottom:100px;
}

.product-list {
    display: grid;
    position: relative;
    z-index: 15;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "satu dua tiga empat lima";
}

.icon {
    margin: 0px 20px 20px 20px;
}

.icon img {
    height: 100px;
    width: 100px;
}

.icon p {
    font-size:16px;
    margin-top: 25px;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
}

.order{
    padding:50px;
}

.object{

}

@media only screen and (max-width: 992px) { /* Medium Devices, Desktop */
    
    .product{
        padding: 75px 50px;
    }

    .product-intro h1{
        font-size:50px;
    }

    .product-list{
        position:relative;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: " satu . dua . tiga " " . empat . lima . ";
    }

    .icon{
        margin:0px;
    }

}

@media only screen and (max-width: 768px) { /* Small Devices, Tablet */

    .home h1{
        font-size:50px;
    }

    .home h3{
        font-size:28px;
    }

    .about h1{
        font-size:35px;
    }

    .about p{
        margin-top:50px;
        font-size:20px !important;
    }
    

    .product-list{
        position:relative;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: " . satu . dua . " " tiga . empat . lima ";

    }

    .icon{
        margin:5px;
    }

    .icon p{
        width:120px;
    }


}

@media only screen and (max-width: 640px) {

    .home h1{
        font-size:40px;
    }

    .home h3{
        font-size:25px;
    }

    .product-intro h1{
        font-size:50px;
    }

    .product-list{
        position:relative;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        ". satu satu dua dua ."
        "tiga tiga empat empat lima lima";

    }
    .icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:30px;
    }

    .icon image{
        width:50px;
        height:50px;
    }
}
@media only screen and (max-width: 480px) { /* Extra Small Devices, Phone*/

    .home{
        text-align:center;
    }

    .home h1{
        font-size:35px;
    }

    .home h3{
        font-size:20px;
    }

    .about h1{
        font-size:35px;
    }

    .about p{
        font-size:18px !important;
        text-align:justify;

    }
    
    .product-intro h1{
        font-size:45px;
    }

    .product-list{
        position:relative;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "satu" "dua" "tiga" "empat" "lima";

    }

    .icon p{
        margin:30px auto;
    }

}

@media only screen and (max-width: 320px) { /* Custom, iPhone Retina */

    .home h1{
        font-size:28px;
    }

    .home h3{
        font-size:16px;
    }

    .about{
        padding: 50px 30px;
    }

    .about h1{
        font-size:25px;
    }

    .about p{
        margin-top:50px;
        font-size:14px !important;
        text-align:justify;
    }

    .about a{
        margin-bottom:50px;
    }

    .product{
        padding:30px;
    }
    
    /* .product-list{
        position:relative;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "satu" "dua" "tiga" "empat" "lima";

    } */

    .product-intro h1{
        margin-top:0px;
        padding-top:40px;
        margin-bottom:75px;
        font-size:35px;
    }

    .icon{
        margin-bottom:0px;
    }

    .icon img{
        height: 75px;
        width: 75px;
    }

    .icon p{
        margin:30px auto;
    }
}